<h2 mat-dialog-title>Add User</h2>
<mat-dialog-content>
    <mat-form-field class="w-100" appearance="fill">
        <mat-label>User Type</mat-label>
        <mat-select id="userType" name="userType" required [(ngModel)]="User.userType">

            <mat-option value="">Select User Type</mat-option>
            <mat-option value="Admin">Admin</mat-option>
            <mat-option value="User">User</mat-option>

        </mat-select>
    </mat-form-field>

    <mat-form-field class="w-100">
        <mat-label>User Name</mat-label>
        <input matInput [(ngModel)]="User.name" />
    </mat-form-field>

    <mat-form-field class="w-100">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="User.password" />
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="close()">Cancel</button>
    <button mat-raised-button color="primary" (click)="save()">{{btnname}}</button>
</mat-dialog-actions>